
// COLORS

$black: #1A1A1A;
$white: #FFFFFF;
$green: #01A54E;
$grey: #7B8E98;
$red: #F44336;
$grey-light: #ECEFF1;
$blue: #03A9F4;
$yellow: #FED700;
$white-light: #CFD8DC;
$separator-color: #ECEFF1;
$nick-link-color: #feba0b;
// FONT
$nunito: 'Nunito', sans-serif;
$nunito-sans: 'Nunito Sans', sans-serif;
//  FONT-WEIGHT
$bold-black: 900;
$extra-bold: 800;
$bold: 700;
$semi-bold: 600;
$regular: 400;
$light: 300;

