<header class="header">
    <div class="container">
        <div class="header__inner">
            <nav class="navbar">
                <div class="navbar__inner">
                    <!-- Logo -->
                    <div class="logo">
                        <a href="#">
                            <img src="assets/img/logo.svg" alt="logo">
                        </a>
                    </div>
                    <!-- Logo End -->

                    <!-- Mobile Logo -->
                    <div class="mobile-logo">
                        <a href="#">
                            <img src="assets/img/mobile-imgs/logo.svg" alt="logo">
                        </a>
                    </div>
                    <!-- Mobile Logo End -->

                    <!-- Form -->
                    <div class="form-search">
                        <form action="#">
                            <input class="search search-text" type="text" placeholder="Поиск">
                            <i class="search-icon"></i>
                        </form>
                    </div>
                    <!-- Form End -->

                    <!-- Mobile Burger -->
                    <div class="burger">
                        <button class="burger__btn">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                    <!-- Mobile Burger End -->

                    <!-- Menu Icons -->
                    <div class="menu-icons">
                        <div class="icon">
                             <span class="icon__babl icon__babl-font">12</span>
                            <img src="assets/img/menu-icons/favorite.svg" alt="favorite">
                        </div>
                        <div class="icon">
                            <span class="icon__babl icon__babl-font">2</span>
                            <img src="assets/img/menu-icons/cart.svg" alt="cart">
                        </div>
                        <div class="icon">
                            <span class="icon__babl icon__babl--disable icon__babl-font">2</span>
                            <img src="assets/img/menu-icons/logo.svg" alt="logo">
                        </div>
                    </div>
                    <!-- Menu Icons End -->


                </div>
            </nav>

            <div class="description">
                <div class="description__inner">
                    <div class="description-text">
                        <h1 class="title title-mb">
                            Крафтовые лакомства для собак
                        </h1>
                        <p class="subtitle subtitle-mb">
                            Всегда свежие лакомства ручной работы с доставкой по России и Миру
                        </p>
                        <button class="btn btn-font">
                            Каталог
                            <i class="btn-icon"></i>
                        </button>
                    </div>
                    <div class="description-img">
                        <div class="description-img__inner">
                            <img src="assets/img/dog.png" alt="Dog">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Menu -->
            <div class="menu">
                <ul class="menu-list">
                        <li class="menu-list__item">
                            <div class="menu-box">
                                <div class="menu-box__img">
                                    <img class="img-mb" src="assets/img/menu-icons/01.svg" alt="01">
                                </div>
                                <div class="menu-box__text">
                                <a class="menu-list__link" href="#">Наборы</a>
                                </div>
                            </div>
                        </li>
                        <li class="menu-list__item">
                            <div class="menu-box">
                                <div class="menu-box__img">
                                    <img class="img-mb" src="assets/img/menu-icons/02.svg" alt="01">
                                </div>
                                <div class="menu-box__text">
                                    <a class="menu-list__link" href="#">Лакомства</a>
                                </div>
                            </div>
                        </li>
                        <li class="menu-list__item">
                            <div class="menu-box">
                                <div class="menu-box__img">
                                    <img class="img-mb" src="assets/img/menu-icons/03.svg" alt="01">
                                </div>
                                <div class="menu-box__text">
                                    <a class="menu-list__link" href="#">Аксессуары</a>
                                </div>
                            </div>
                        </li>
                        <li class="menu-list__item">
                            <div class="menu-box">
                                <div class="menu-box__img">
                                    <img class="img-mb" src="assets/img/menu-icons/04.svg" alt="01">
                                </div>
                                <div class="menu-box__text">
                                    <a class="menu-list__link" href="#">Игрушки</a>
                                </div>
                            </div>
                        </li>
                        <li class="menu-list__item">
                            <div class="menu-box">
                                <div class="menu-box__img">
                                    <img class="img-mb" src="assets/img/menu-icons/05.svg" alt="01">
                                </div>
                                <div class="menu-box__text">
                                    <a class="menu-list__link" href="#">Рога</a>
                                </div>
                            </div>
                        </li>
                        <li class="menu-list__item">
                            <div class="menu-box">
                                <div class="menu-box__img">
                                    <img class="img-mb" src="assets/img/menu-icons/06.svg" alt="01">
                                </div>
                                <div class="menu-box__text">
                                    <a class="menu-list__link" href="#">Масла</a>
                                </div>
                            </div>
                        </li>
                </ul>
            </div>
            <!-- Menu End -->
        </div>
    </div>
</header>
<main class="main">
    <div class="container">
        <!-- Banner -->
        <div class="banner">
            <img class="banner__img" src="assets/img/banner-img/Banner-1.png" alt="">
        </div>
        <div class="banner-mobile">
            <img class="banner-mobile__img" src="assets/img/banner-mobile/Banner-1.png" alt="">
        </div>
        <!-- Banner End -->

        <!-- Product List -->
        <section class="product">
            <div class="product__top">
                <div class="product__top-heading">
                    <h2 class="heading-font">Хиты</h2>
                </div>
                <div class="product__top-option">
                    <button class="option-btn">
                        <i class="option-btn__left"></i>
                    </button>
                    <button class="option-btn">
                        <i class="option-btn__right"></i>
                    </button>
                </div>
            </div>
            <div class="product__list">
                <div class="card">
                    <div class="card__img">
                        <img src="assets/img/product-img/01.png" alt="">
                        <div class="card__img-symbol">
                            <span class="card__img-badge badge-font">-30%</span>
                            <span class="card__img-favorite"></span>
                        </div>
                    </div>

                    <div class="card__description">
                        <div class="card__description-price">
                            <span class="price-old">1 200 ₽</span>
                            <h2 class="price text-red">840 ₽</h2>
                        </div>
                        <div class="card__description-text">
                            <span class="quantity">1 шт</span>
                            <p class="description">Рога оленя для собак весом от 10 до 30 кг.</p>
                        </div>
                    </div>
                    <div class="card__btn">
                        <button class="card-button button-font">В корзину</button>
                    </div>
                </div>

                <div class="card">
                    <div class="card__img">
                        <img src="assets/img/product-img/02.png" alt="">
                        <div class="card__img-symbol">
                            <span class="card__img-badge bg-white badge-font">-30%</span>
                            <span class="card__img-favorite"></span>
                        </div>
                    </div>
                    <div class="card__description">
                        <div class="card__description-price">
                            <span class="price-old text-white">1 200 ₽</span>
                            <h2 class="price">450 ₽</h2>
                        </div>
                        <div class="card__description-text">
                            <span class="quantity">200 мл</span>
                            <p class="description">Сельдевое масло</p>
                        </div>
                    </div>
                    <div class="card__btn">
                        <button class="card-button button-font">В корзину</button>
                    </div>
                </div>

                <div class="card">
                    <div class="card__img">
                        <img src="assets/img/product-img/03.png" alt="">
                        <div class="card__img-symbol">
                            <span class="card__img-badge badge-font">-10%</span>
                            <span class="card__img-favorite"></span>
                        </div>
                    </div>
                    <div class="card__description">
                        <div class="card__description-price">
                            <span class="price-old">550 ₽</span>
                            <h2 class="price text-red">495 ₽</h2>
                        </div>
                        <div class="card__description-text">
                            <span class="quantity">100 г</span>
                            <p class="description">Бублик из бычьего корня</p>
                        </div>
                    </div>
                    <div class="card__btn">
                        <button class="card-button button-font">В корзину</button>
                    </div>
                </div>

                <div class="card">
                    <div class="card__img">
                        <img src="assets/img/product-img/04.png" alt="">
                        <div class="card__img-symbol">
                            <span class="card__img-badge bg-blue badge-font">Новинка</span>
                            <span class="card__img-favorite"></span>
                        </div>
                    </div>
                    <div class="card__description">
                        <div class="card__description-price">
                            <span class="price-old text-white">1 200 ₽</span>
                            <h2 class="price">240 ₽</h2>
                        </div>
                        <div class="card__description-text">
                            <span class="quantity">1 шт</span>
                            <p class="description">Лопаточный хрящ говяжий для собак</p>
                        </div>
                    </div>
                    <div class="card__btn">
                        <button class="card-button button-font">В корзину</button>
                    </div>
                </div>
            </div>
        </section>
        <!-- Product List End -->

        <!-- Banner -->
            <div class="banner">
                <div class="banner__couple">
                     <img class="banner__img" src="assets/img/banner-img/Banner-2.png" alt="">
                </div>
                <div class="banner__couple">
                    <img class="banner__img" src="assets/img/banner-img/Banner-3.png" alt="">
                </div>
            </div>

            <div class="banner-mobile">
                <img class="banner-mobile__img" src="assets/img/banner-mobile/Banner-2.png" alt="">
            </div>
        <!-- Banner End -->

                <!-- Product List -->
                <section class="product product-mb">
                    <div class="product__top">
                        <div class="product__top-heading">
                            <h2 class="heading-font">Лакомства</h2>
                        </div>
                        <div class="product__top-option">
                            <button class="option-btn">
                                <i class="option-btn__left"></i>
                            </button>
                            <button class="option-btn">
                                <i class="option-btn__right"></i>
                            </button>
                        </div>
                    </div>
                    <div class="product__list">
                        <div class="card">
                            <div class="card__img">
                                <img src="assets/img/product-img/11.png" alt="">
                                <div class="card__img-symbol">
                                    <span class="card__img-badge bg-transparent text-transparent badge-font">-30%</span>
                                    <span class="card__img-favorite"></span>
                                </div>
                            </div>

                            <div class="card__description">
                                <div class="card__description-price">
                                    <span class="price-old text-white">1 200 ₽</span>
                                    <h2 class="price">380 ₽</h2>
                                </div>
                                <div class="card__description-text">
                                    <span class="quantity">1 кг</span>
                                    <p class="description">Желудки утиные сушено-вяленые</p>
                                </div>
                            </div>
                            <div class="card__btn">
                                <button class="card-button button-font">В корзину</button>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card__img">
                                <img src="assets/img/product-img/12.png" alt="">
                                <div class="card__img-symbol">
                                    <span class="card__img-badge bg-transparent text-transparent badge-font">-30%</span>
                                    <span class="card__img-favorite--fill"></span>
                                </div>
                            </div>
                            <div class="card__description">
                                <div class="card__description-price">
                                    <span class="price-old text-white">300 ₽</span>
                                    <h2 class="price">300 ₽</h2>
                                </div>
                                <div class="card__description-text">
                                    <span class="quantity">100 г</span>
                                    <p class="description">Мелкая говяжья сушено-вяленая жилка</p>
                                </div>
                            </div>
                            <div class="card__btn">
                                <button class="card-button button-font">В корзину</button>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card__img">
                                <img src="assets/img/product-img/13.png" alt="">
                                <div class="card__img-symbol">
                                    <span class="card__img-badge bg-transparent text-transparent badge-font">-10%</span>
                                    <span class="card__img-favorite"></span>
                                </div>
                            </div>
                            <div class="card__description">
                                <div class="card__description-price">
                                    <span class="price-old text-white">550 ₽</span>
                                    <h2 class="price">495 ₽</h2>
                                </div>
                                <div class="card__description-text">
                                    <span class="quantity">14 шт</span>
                                    <p class="description">Печенья с яблоком (печень говяжья, сердце говяжье)</p>
                                </div>
                            </div>
                            <div class="card__btn">
                                <button class="card-button button-font">В корзину</button>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card__img">
                                <img src="assets/img/product-img/14.png" alt="">
                                <div class="card__img-symbol">
                                    <span class="card__img-badge bg-transparent text-transparent badge-font">Новинка</span>
                                    <span class="card__img-favorite"></span>
                                </div>
                            </div>
                            <div class="card__description">
                                <div class="card__description-price">
                                    <span class="price-old text-white">1 200 ₽</span>
                                    <h2 class="price">330 ₽</h2>
                                </div>
                                <div class="card__description-text">
                                    <span class="quantity">100 г</span>
                                    <p class="description">Свиные уши для собак</p>
                                </div>
                            </div>
                            <div class="card__btn">
                                <button class="card-button button-font">В корзину</button>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Product List End -->

                <!-- Product List -->
                <section class="product">
                    <div class="product__top">
                        <div class="product__top-heading">
                            <h2 class="heading-font">Игрушки</h2>
                        </div>
                        <div class="product__top-option">
                            <button class="option-btn">
                                <i class="option-btn__left"></i>
                            </button>
                            <button class="option-btn">
                                <i class="option-btn__right"></i>
                            </button>
                        </div>
                    </div>
                    <div class="product__list">
                        <div class="card">
                            <div class="card__img">
                                <img src="assets/img/product-img/21.png" alt="">
                                <div class="card__img-symbol">
                                    <span class="card__img-badge bg-transparent text-transparent badge-font">-30%</span>
                                    <span class="card__img-favorite"></span>
                                </div>
                            </div>

                            <div class="card__description">
                                <div class="card__description-price">
                                    <span class="price-old text-white">1 200 ₽</span>
                                    <h2 class="price">590 ₽</h2>
                                </div>
                                <div class="card__description-text">
                                    <span class="quantity">1 шт</span>
                                    <p class="description">Игрушка-погрызушка для мелких пород</p>
                                </div>
                            </div>
                            <div class="card__btn">
                                <button class="card-button button-font">В корзину</button>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card__img">
                                <img src="assets/img/product-img/22.png" alt="">
                                <div class="card__img-symbol">
                                    <span class="card__img-badge bg-transparent text-transparent badge-font">-30%</span>
                                    <span class="card__img-favorite"></span>
                                </div>
                            </div>
                            <div class="card__description">
                                <div class="card__description-price">
                                    <span class="price-old text-white">300 ₽</span>
                                    <h2 class="price">790 ₽</h2>
                                </div>
                                <div class="card__description-text">
                                    <span class="quantity">1 шт</span>
                                    <p class="description">Игрушка-погрызушка для средних пород</p>
                                </div>
                            </div>
                            <div class="card__btn">
                                <button class="card-button button-font">В корзину</button>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card__img">
                                <img src="assets/img/product-img/23.png" alt="">
                                <div class="card__img-symbol">
                                    <span class="card__img-badge badge-font">-10%</span>
                                    <span class="card__img-favorite"></span>
                                </div>
                            </div>
                            <div class="card__description">
                                <div class="card__description-price">
                                    <span class="price-old">550 ₽</span>
                                    <h2 class="price text-red">495 ₽</h2>
                                </div>
                                <div class="card__description-text">
                                    <span class="quantity">100 г</span>
                                    <p class="description">Бублик из бычьего корня</p>
                                </div>
                            </div>
                            <div class="card__btn">
                                <button class="card-button button-font">В корзину</button>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card__img">
                                <img src="assets/img/product-img/24.png" alt="">
                                <div class="card__img-symbol">
                                    <span class="card__img-badge bg-transparent text-transparent badge-font">Новинка</span>
                                    <span class="card__img-favorite"></span>
                                </div>
                            </div>
                            <div class="card__description">
                                <div class="card__description-price">
                                    <span class="price-old text-white">1 200 ₽</span>
                                    <h2 class="price">495 ₽</h2>
                                </div>
                                <div class="card__description-text">
                                    <span class="quantity">1 шт</span>
                                    <p class="description">Игрушка-погрызушка для крупных пород</p>
                                </div>
                            </div>
                            <div class="card__btn">
                                <button class="card-button button-font">В корзину</button>
                            </div>
                        </div>
                    </div>
                </section>
            <!-- Product List End -->

             <!-- Banner -->
            <div class="banner">
                <div class="banner__couple">
                     <img class="banner__img" src="assets/img/banner-img/Banner-4.png" alt="">
                </div>
                <div class="banner__couple">
                    <img class="banner__img" src="assets/img/banner-img/Banner-5.png" alt="">
                </div>
            </div>

            <div class="banner-mobile">
                <img class="banner-mobile__img" src="assets/img/banner-mobile/Banner-3.png" alt="">
            </div>
            <!-- Banner End -->

            <!-- Reclam List -->
            <section class="product product-mb">
                <div class="product__top">
                    <div class="product__top-heading">
                        <h2 class="heading-font">Акции и спецпредложения</h2>
                    </div>
                    <div class="product__top-option">
                        <button class="option-btn">
                            <i class="option-btn__left"></i>
                        </button>
                        <button class="option-btn">
                            <i class="option-btn__right"></i>
                        </button>
                    </div>
                </div>
                <div class="product__reclam-list">
                    <div class="card-reclam">
                        <div class="card-reclam__img">
                            <img src="assets/img/product-img/31.png" alt="">
                        </div>
                        <div class="card-reclam__text">
                            <p class="reclam-text">Набор “Собачий Листопад -2”</p>
                        </div>
                    </div>

                    <div class="card-reclam">
                        <div class="card-reclam__img">
                            <img src="assets/img/product-img/32.png" alt="">
                        </div>
                        <div class="card-reclam__text">
                            <p class="reclam-text">Набор “Собачий Листопад -1”</p>
                        </div>
                    </div>

                    <div class="card-reclam">
                        <div class="card-reclam__img">
                            <img src="assets/img/product-img/33.png" alt="">
                        </div>
                        <div class="card-reclam__text">
                            <p class="reclam-text">Набор “Хордог Лото-1”</p>
                        </div>
                    </div>

                    <div class="card-reclam">
                        <div class="card-reclam__img">
                            <img src="assets/img/product-img/34.png" alt="">
                        </div>
                        <div class="card-reclam__text">
                            <p class="reclam-text">Набор “Победа”</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Reclam List End -->

            <!-- News List -->
            <section class="product product-mb">
                <div class="product__top">
                    <div class="product__top-heading">
                        <h2 class="heading-font">Новости</h2>
                    </div>
                    <div class="product__top-option">
                        <button class="option-btn">
                            <i class="option-btn__left"></i>
                        </button>
                        <button class="option-btn">
                            <i class="option-btn__right"></i>
                        </button>
                    </div>
                </div>
                <div class="product__news-list">
                    <div class="card-news">
                        <div class="card-news__img">
                            <img src="assets/img/product-img/41.png" alt="">
                        </div>
                        <div class="card-news__description">
                            <span class="news-date">12 май 2021</span>
                            <p class="news-text">Дрессировка щенка: что нужно знать</p>
                        </div>
                    </div>
                    <div class="card-news">
                        <div class="card-news__img">
                            <img src="assets/img/product-img/42.png" alt="">
                        </div>
                        <div class="card-news__description">
                            <span class="news-date">08 июл 2021</span>
                            <p class="news-text">Идём гулять с собакой в лес</p>
                        </div>
                    </div>
                    <div class="card-news">
                        <div class="card-news__img">
                            <img src="assets/img/product-img/43.png" alt="">
                        </div>
                        <div class="card-news__description">
                            <span class="news-date">16 авг 2021</span>
                            <p class="news-text">Сухие корма для собак</p>
                        </div>
                    </div>
                    <div class="card-news">
                        <div class="card-news__img">
                            <img src="assets/img/product-img/44.png" alt="">
                        </div>
                        <div class="card-news__description">
                            <span class="news-date">02 сен 2021</span>
                            <p class="news-text">6 лакомств для собак</p>
                        </div>
                    </div>

                </div>
            </section>
            <!-- News List End -->

            <!-- Reviews List -->
            <section class="product">
                <div class="product__top">
                    <div class="product__top-heading">
                        <h2 class="heading-font">Отзывы</h2>
                    </div>
                    <div class="product__top-option">
                        <button class="option-btn">
                            <i class="option-btn__left"></i>
                        </button>
                        <button class="option-btn">
                            <i class="option-btn__right"></i>
                        </button>
                    </div>
                </div>
                <div class="product__review-list">
                    <div class="card-review">
                        <div class="card-review__top">
                            <div class="top-img">
                                <img src="assets/img/product-img/51.png" alt="">
                            </div>
                            <div class="top-description">
                                <p class="top-description__text">
                                    Рога оленя для собак весом от 10 до 30 кг. Размер L
                                </p>
                                <div class="top-description__star">
                                    <img src="assets/img/small-img/star-fill.svg" alt="">
                                    <img src="assets/img/small-img/star-fill.svg" alt="">
                                    <img src="assets/img/small-img/star-fill.svg" alt="">
                                    <img src="assets/img/small-img/star.svg" alt="">
                                    <img src="assets/img/small-img/star.svg" alt="">
                                </div>
                                <button class="top-description__btn review-btn-font">
                                    Все отзывы
                                    <i class="top-description__btn-icon"></i>
                                </button>
                            </div>
                        </div>
                        <div class="separator"></div>
                        <div class="card-review__center">
                            <h3 class="user-name user-name-font">Анастасия</h3>
                            <span class="review-date review-date-font">08 июл 2021</span>
                            <div class="nick nick-font">Елизово</div>
                        </div>
                        <div class="card-review__bottom">
                            <p class="review-text">
                                «Вчера мы получили посылку с вкусняшками от @hordog.ru <br>
                                В нашем наборе много разновидностей лакомств, в том числе рога оленя, рубец говяжий, баранье легкое, нос говяжий, копыто северного оленя, уши говяжьи, вымя говяжье, корень говяжий, печенье с яблоком.Такого запаса нам точно хватит надолго.

                            </p><br>
                            <p class="review-text"> Лайфун уже оценил вкусняшки! Спасибо за такой замечательный набор!»</p>
                        </div>
                    </div>

                    <div class="card-review">
                        <div class="card-review__top">
                            <div class="top-img">
                                <img src="assets/img/product-img/52.png" alt="">
                            </div>
                            <div class="top-description">
                                <p class="top-description__text">
                                    Бублик из бычьего корня
                                </p>
                                <div class="top-description__star">
                                    <img src="assets/img/small-img/star-fill.svg" alt="">
                                    <img src="assets/img/small-img/star-fill.svg" alt="">
                                    <img src="assets/img/small-img/star-fill.svg" alt="">
                                    <img src="assets/img/small-img/star-fill.svg" alt="">
                                    <img src="assets/img/small-img/star-fill.svg" alt="">
                                </div>
                                <button class="top-description__btn review-btn-font">
                                    Все отзывы
                                    <i class="top-description__btn-icon"></i>
                                </button>
                            </div>
                        </div>
                        <div class="separator"></div>
                        <div class="card-review__center">
                            <h3 class="user-name user-name-font">Оксана</h3>
                            <span class="review-date review-date-font">12 авг 2021</span>
                            <div class="nick nick-font">Йошкар-Ола, отзыв из инстгарам <a href="#" class="nick-link">hordog.staya</a></div>
                        </div>
                        <div class="card-review__bottom">
                            <p class="review-text">
                                «Ну и как уж без подарка ,для моей девочки))) Огромное спасибо за вкусняхи @hordog.ru Одна упаковка чего стоит а уж то что было внутри вызвало полных восторг у нашей девочки. Что приятно удивило что при покупке у них в магазине сделали скидку))) И положили презент»
                            </p>
                        </div>
                             <div class="review-img">
                                <img src="assets/img/product-img/61.png" alt="">
                                <img src="assets/img/product-img/62.png" alt="">
                            </div>
                    </div>
                </div>
            </section>
            <!-- Reviews List End -->

            <!-- Banner -->
             <div class="banner">
                <img class="banner__img" src="assets/img/banner-img/Banner-1.png" alt="">
            </div>
            <div class="banner-mobile">
                <img class="banner-mobile__img" src="assets/img/banner-mobile/Banner-1.png" alt="">
            </div>
             <!-- Banner End -->

              <!-- Product List -->
              <section class="product">
                <div class="product__top">
                    <div class="product__top-heading">
                        <h2 class="heading-font">Вы смотрели</h2>
                    </div>
                    <div class="product__top-option">
                        <button class="option-btn">
                            <i class="option-btn__left"></i>
                        </button>
                        <button class="option-btn">
                            <i class="option-btn__right"></i>
                        </button>
                    </div>
                </div>
               <div class="product__list">
                    <div class="card-small">
                        <div class="card__img">
                            <img src="assets/img/product-img/71.png" alt="">
                            <div class="card__img-symbol">
                                <span class="card__img-badge bg-transparent text-transparent  badge-font">-10%</span>
                                <span class="card__img-favorite"></span>
                            </div>
                        </div>
                        <div class="card__description">
                            <div class="card__description-price">
                                <span class="price-old text-white">550 ₽</span>
                                <h2 class="price">590 ₽</h2>
                            </div>
                            <div class="card__description-text">
                                <span class="quantity">100 г</span>
                                <p class="description">Игрушка-погрызушка для мелких пород</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-small">
                        <div class="card__img">
                            <img src="assets/img/product-img/72.png" alt="">
                            <div class="card__img-symbol">
                                <span class="card__img-badge bg-transparent text-transparent badge-font">-10%</span>
                                <span class="card__img-favorite"></span>
                            </div>
                        </div>
                        <div class="card__description">
                            <div class="card__description-price">
                                <span class="price-old text-white">550 ₽</span>
                                <h2 class="price">790 ₽</h2>
                            </div>
                            <div class="card__description-text">
                                <span class="quantity">100 г</span>
                                <p class="description">Игрушка-погрызушка для мелких пород</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-small">
                        <div class="card__img">
                            <img src="assets/img/product-img/73.png" alt="">
                            <div class="card__img-symbol">
                                <span class="card__img-badge bg-transparent text-transparent  badge-font">-10%</span>
                                <span class="card__img-favorite"></span>
                            </div>
                        </div>
                        <div class="card__description">
                            <div class="card__description-price">
                                <span class="price-old text-white">550 ₽</span>
                                <h2 class="price">495 ₽</h2>
                            </div>
                            <div class="card__description-text">
                                <span class="quantity">100 г</span>
                                <p class="description">Игрушка-погрызушка для мелких пород</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-small">
                        <div class="card__img">
                            <img src="assets/img/product-img/74.png" alt="">
                            <div class="card__img-symbol">
                                <span class="card__img-badge bg-transparent text-transparent  badge-font">-10%</span>
                                <span class="card__img-favorite"></span>
                            </div>
                        </div>
                        <div class="card__description">
                            <div class="card__description-price">
                                <span class="price-old">550 ₽</span>
                                <h2 class="price text-red">495 ₽</h2>
                            </div>
                            <div class="card__description-text">
                                <span class="quantity">100 г</span>
                                <p class="description">Бублик из бычьего корня</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-small">
                        <div class="card__img">
                            <img src="assets/img/product-img/75.png" alt="">
                            <div class="card__img-symbol">
                                <span class="card__img-badge bg-transparent text-transparent badge-font">-10%</span>
                                <span class="card__img-favorite"></span>
                            </div>
                        </div>
                        <div class="card__description">
                            <div class="card__description-price">
                                <span class="price-old text-white">550 ₽</span>
                                <h2 class="price">340 ₽</h2>
                            </div>
                            <div class="card__description-text">
                                <span class="quantity">100 г</span>
                                <p class="description">Печенья с яблоком (печень говяжья, сер...</p>
                            </div>
                        </div>
                    </div>
               </div>
            </section>
        <!-- Product List End -->
    </div>
</main>
<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer-top">
                <div class="footer-top-description">
                    <div class="top-title">
                        <h1 class="footer-title">Остались вопросы?</h1>
                        <p class="footer-subtitle">Заполните пожалуйста поля ниже, чтобы мы могли связаться с вами</p>
                    </div>
                    <div class="footer-top__form">
                        <form action="#">
                            <div class="form-option">
                                <input class="form-text form-text-font" type="text" placeholder="Ваше имя">
                                <input class="form-text form-text-font" type="text" placeholder="Телефон или Email">
                            </div>
                            <button class="form-btn form-btn-font">Отправить</button>
                        </form>
                    </div>
                </div>
                <div class="footer-top__img">
                    <img src="assets/img/dog-2.png" alt="">
                </div>
            </div>
            <div class="footer-bottom">
                <div class="footer-bottom__logo">
                    <img src="assets/img/footer-logo.svg" alt="">
                    <p class="logo-text">© «Интернет-магазин натуральных лакомств для собак HorDog.ru»</p>
                </div>
                <div class="footer-bottom__first">
                    <ul>
                        <li>
                            <a class="list-link" href="#">Каталог</a>
                        </li>
                        <li>
                            <a class="list-link" href="#">Акции</a>
                        </li>
                        <li>
                            <a class="list-link" href="#">Новости</a>
                        </li>
                        <li>
                            <a class="list-link" href="#">Отзывы</a>
                        </li>
                    </ul>
                </div>

                <div class="footer-bottom__second">
                    <ul>
                        <li>
                            <a class="list-link" href="#">Оплата и доставка</a>
                        </li>
                        <li>
                            <a class="list-link" href="#">Часто спрашивают</a>
                        </li>
                        <li>
                            <a class="list-link" href="#">Обратная связь</a>
                        </li>
                        <li>
                            <a class="list-link" href="#">Контакты</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-bottom__social">
                    <h4 class="social-title">Мы всегда на связи</h4>
                    <a class="social-tel" href="tel:89177172179">8 (917) 717-21-79</a>
                    <a class="social-email" href="#">hordog.ru@gmail.com</a>
                    <div class="social-icons">
                        <img src="assets/img/small-img/logo-telegram.svg" alt="">
                        <img src="assets/img/small-img/logo-whatsapp.svg" alt="">
                        <img src="assets/img/small-img/logo-viber.svg" alt="">
                        <img src="assets/img/small-img/logo-instagram.svg" alt="">
                        <img src="assets/img/small-img/logo-vk.svg" alt="">
                    </div>
                </div>
            </div>

            <div class="mobile-social">
                <h4 class="social-title">Мы всегда на связи</h4>
                <a class="social-tel" href="tel:8917712179">8 (917) 717-21-79</a>
                <a class="social-email" href="#">hordog.ru@gmail.com</a>
                <div class="mobile-social-icons">
                        <img src="assets/img/small-img/logo-telegram.svg" alt="">
                        <img src="assets/img/small-img/logo-whatsapp.svg" alt="">
                        <img src="assets/img/small-img/logo-viber.svg" alt="">
                        <img src="assets/img/small-img/logo-instagram.svg" alt="">
                        <img src="assets/img/small-img/logo-vk.svg" alt="">
                </div>
                <p class="logo-text">© «Интернет-магазин натуральных лакомств для собак HorDog.ru»</p>
            </div>
        </div>
    </div>
</footer>
<!-- Footer End -->
<!-- Mobiel Menu -->
<div class="mobile-menu">
    <div class="mobile-menu__list">
        <div class="menu-item">
            <img src="assets/img/mobile-menu-icons/1.svg" alt="">
            <a class="mobile-menu__link" href="#">Главная</a>
        </div>
        <div class="menu-item">
            <img src="assets/img/mobile-menu-icons/2.svg" alt="">
            <a class="mobile-menu__link" href="#">Каталог</a>
        </div>
        <div class="menu-item">
            <span class="mobile-menu__babl icon__babl-font">2</span>
            <img src="assets/img/mobile-menu-icons/3.svg" alt="">
            <a class="mobile-menu__link" href="#">Главная</a>
        </div>
        <div class="menu-item">
            <span class="mobile-menu__babl icon__babl-font">12</span>
            <img src="assets/img/mobile-menu-icons/4.svg" alt="">
            <a class="mobile-menu__link" href="#">Избранное</a>
        </div>
        <div class="menu-item">
            <img src="assets/img/mobile-menu-icons/5.svg" alt="">
            <a class="mobile-menu__link" href="#">Профиль</a>
        </div>
    </div>
</div>
<!-- Mobile Menu End -->
